.title-contents {
  position:relative;
  width:100vw;
  height:100vh;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(top.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  margin:0;
  padding:0;
}

h2 {
  position: fixed;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-size: 2em;/*サイズ2倍*/
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 0;
  left: 0;
  margin:0;
  padding:0;
}


p {
  position: absolute;
  color: white;/*文字は白に*/
  font-weight: bold; /*太字に*/
  font-family :Quicksand, sans-serif;/*Google Font*/
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
